Redirect 301 /words/animated-rotating-cursor-over-carousel /words/archive/animated-rotating-cursor-over-carousel
Redirect 301 /words/animated-scaled-letters /words/archive/animated-scaled-letters
Redirect 301 /words/brand-paradox /words/archive/brand-paradox
Redirect 301 /words/cancer-central-hackathon /words/archive/cancer-central-hackathon
Redirect 301 /words/continuous-deployment-to-s3-with-bitbucket-pipelines /words/archive/continuous-deployment-to-s3-with-bitbucket-pipelines
Redirect 301 /words/formdata-ie10 archive/going-serverless /words/archive/formdata-ie10 archive/going-serverless
Redirect 301 /words/going-serverless /words/archive/going-serverless
Redirect 301 /words/grunt-for-email-templates /words/archive/grunt-for-email-templates
Redirect 301 /words/max-device-width /words/archive/max-device-width
