name:  Deploy to production

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      - name: rsync deployments
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete --dry-run --exclude="${{ vars.EXCLUDE }}"
          remote_user: ${{ vars.USER }}
          remote_host: ${{ vars.HOST }}
          path: ${{ github.workspace }}/${{ vars.BUILD_DIR }}
          remote_path: ${{ vars.DIR }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
          remote_key_pass: ${{ secrets.DEPLOY_KEY_PASS }}
          remote_port: ${{ vars.PORT }}



