name:  Deploy to production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      - name: rsync deployments
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete --dry-run --exclude="${{ vars.EXCLUDE }}"
          remote_user: ${{ vars.USER }}
          remote_host: ${{ vars.HOST }}
          path: ${{ vars.BUILD_DIR }}
          remote_path: ${{ vars.DIR }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
          remote_key_pass: ${{ secrets.DEPLOY_KEY_PASS }}
          remote_port: ${{ vars.PORT }}



